*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    
}
  .container{
        width: 100%;
        height: 100vh;
        align-items: center;
        background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
        background-position: center;
        background-size: cover;
        position: fixed;
    }
    .clps{
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 4/3;
        position: fixed; 
        z-index: -1; 
      }
    @media(max-aspect-ratio:16/9) {
        .clps{
            width: 100%;
            height: auto;
        
        }
    }
    
   

    .logo{
        width: 100%;
        height: 25%;
        display: block;
        align-items: center;
        justify-content: center;
        position:fixed;
        top:0;
    }
    .logo .img{
       
        align-items: center;
        text-align: center;
        display: block;
    }
    .logo .img img{
        width: 300px;
        height: 100px;
    }
    .logo .text{
        display: block;
        text-align: center;
        
    }
    .logo .text h1{
        font-size: 2rem;
        font-weight: 80;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
    }
    .content{
        display: block;
        justify-content:center;
        align-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
        margin-top:30%;
        overflow: scroll;
        scroll-behavior:smooth;
    }
    .content::-webkit-scrollbar{
        display: none;
    }
    .beans{
        margin-top: 15rem;
        display: block;
        text-align: center;
    }
    .beans h2{
        color: #fff;
        font-size: 2.3rem;
        font-weight: lighter;
    }
    .crop{
        margin-top :6rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .crop h3{
        margin-bottom:3rem;

        font-size: 1.8rem;
        color: #fff;
        line-height: 1.3rem;
        font-weight: lighter;
        font-family: 'Times New Roman', Times, serif;
    }
    .b1{
        width: 100%;
    }
    .b2{
        width: 100%;
    }
    .crop p{
        margin-top: 10px;
        font-size: 1rem;
        color: #fff;
        font-weight: lighter;
        line-height: 1.7rem;text-align: center;

    }
  .p1{
   margin-top: 2.4rem;
  }

.loyality{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40rem;
    margin-bottom: 30rem;
    
}
.loyality h2{
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.loyality h5{
    color: #fff;
    font-size: 1rem;
    margin: 1.9rem;
    font-weight: lighter;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.barcode{
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 20rem;
}
.barcode img{
    width: 230px;
    height: 230px;
}
.loyality1{
    margin-top: 50rem;
}
.loyality1 h2{

    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    
}
.loyality1 h5{
    color: #fff;
    font-size: 1rem;
    margin: 1rem;
    font-weight: lighter;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
 @media screen and(min-width:450px)and(max-width:1024px) {
        .logo.img img{
            width: 700px;
            height:200px;
        }

     }
